@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #28527a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;

}

h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  width: 500px;

}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-family: inherit;
  margin: 0 0 20px;
  font-size: 16px;
}

textarea:focus {
  outline: none;
}

.tag {
  background-color: #8ac4d0;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 8px 0;
  font-size: 16px;
  display: inline-block;
}



.tag.highlight {
  background-color: #f4d160;

}